.custom-solution {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-solution span {
    height: 40px;
    width: 40px;
    padding: 1vh 1vw;
    /* margin: 2vh 2vw; */
    font-size: 20px;
    text-align: center;
    border: 1px #808080 solid;
    color: black;
}

.custom-solution input {
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 0vh 0vw;
}
.custom-solution div {
    margin-top: 2vh;
}