<h2 class="page-heading">Solution</h2>
<div class="page-container">
    <div class="custom-solution">
        <% for (let i = 0; i < 9; i++) { %>
            <div>
            <% for(let j = 0; j < 9; j++) {%>
                <% if((i < 3 && (j >= 3 && j < 6)) || ((i >= 3 && i < 6) && (j < 3 || j >= 6)) || (i >= 6 && (j >= 3 && j < 6))) { %>
                    <span class="even-section"><%= board[(i * 9) + j]%></span>
                <%} else { %>
                    <span class="odd-section"><%= board[(i * 9) + j]%></span>
                <%} %>
                <!-- <span><%= board[(i * 9) + j]%></span> -->
            <% } %>
            </div>
        <% } %>
    </div>
</div>
