<h2 class="page-heading">Solution</h2>
<div class="page-container">
    <div class="sudoku-board">
        <% for (let i = 0; i < 9; i++) { %>
            <div>
            <% for(let j = 0; j < 9; j++) {%>
                <% if((i < 3 && (j >= 3 && j < 6)) || ((i >= 3 && i < 6) && (j < 3 || j >= 6)) || (i >= 6 && (j >= 3 && j < 6))) { %>
                    <input class="even-section" value="<%= board[(i * 9) + j]%>" readonly>
                <%} else { %>
                    <input class="odd-section" value="<%= board[(i * 9) + j]%>" readonly>
                <%} %>
            <% } %>
            </div>
        <% } %>
    </div>
    <% if(showAnother) {%>
        <div class="user-footer">
            <a href="/sudoku/custom">Try another board</a>
        </div>
    <% }%>
</div>
