<h1 class="page-heading">Welcome to Sudoku Universe</h1>
<div class="page-container">
    <div class="home-page-button">
        <a href="/sudoku/new">
            <button>
                Play a new game
            </button>
        </a>
    </div>
    <div class="home-page-button">
        <a href="/sudoku/custom">
            <button>
                Try out our solver
            </button>
        </a>
    </div>
    <div>
        <div>
            <h2 class="home-questions">
                What is Sudoku and how do you play it?
            </h2>
            <p>
                Sudoku is a logic-based number puzzle with 9x9 grid layout, divided into 3x3 subgrids known as regions.
                Each block can only have a value between 1 and 9 inclusive and the goal of the puzzle is to fill the numbers while ensuring that no number is repeated in the same row, column, and region.
            </p>
        </div>
        <div>
            <h2 class="home-questions">
                What is Sudoku Universe?
            </h2>
            <p>
                Sudoku Universe is a website for sudoku lovers to engage with a community to explore their passion for the game.
            </p>
        </div>
        <div>
            <h2 class="home-questions">
                What can I do on this website?
            </h2>
            <p>
                Sudoku Universe enables user interaction through friends, game results records, and a solver.
            </p>
        </div>
    </div>
</div>

