<div class="form-item">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required value="<%= user.username %>">
</div>
<div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" required value="<%= user.firstName %>">
</div>
<div>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" required value="<%= user.lastName %>">
</div>
<div>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required>
</div>